.vscode/**
.vscode-test/**
src/**
reference/**
inputs/**
test/**
docs/**
.claude/**
node_modules/**
out/**
dist/**/*.map
.gitignore
.yarnrc
webpack.config.js
tsconfig.json
**/*.ts
!dist/extension.js
media/assets/**
CONTRIBUTING.md
!media/main.js
!media/styles.css
!LICENSE
!README.md
